*, *::after, *::before
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

.justify {
	justify-content: center;
}

.align{
	align-items: center;
}

.space-around{
	justify-content: space-around;
}

.column{
	flex-direction: column;
}


.w50{
	width: 50%;
}

.w10{
	width: 10%;
}

.w20{
	width: 20%;
}
.w70{
	width: 70%;
}
.w100{
	width: 100%;
}

@font-face 

{
	font-family: 'Nunito';
	src: url("font/Nunito-Regular.woff");
	src: url("font/Nunito-Italic.woff");
	src: url("font/Nunito-Bold.woff");

	font-weight: normal;
	font-size: normal;
}

.blue-font {
	color: rgb(10, 199, 255);
}


body{
	display: flex;
	justify-content: center;
	margin-left: -17px;

}

#top{
	padding-top: 1vh;
	padding-bottom: 1vh;
	height: 20vh;
	width: 99vw;
	background-image:linear-gradient(to right, rgb(17, 233, 233), rgb(10, 199, 255));
	display: flex;
	justify-content: flex-start;
	box-shadow: #9abfc233 5px 5px;
}

/* ce qu'il y a dans le top */

.flexrow {
	display: flex;
}
#photo
{
	display: flex;
	width: 200px;
	height:100%;
	margin-left: 10px;
	background-color: rgb(205, 227, 240);
	border-radius:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito';

}

#picid{
	display: flex;
	object-fit: cover;
	object-position: 5px -50px;
	width: 100%;
	height: 100%;
		-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
}

#profile
{
	margin-left: 10vw;
	margin-right: 10vw;
	width:40vw;
	height:18vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-family: Nunito;
	color: white;
}


#contact
{
	width:35vw;
	height:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-family: Nunito;
	color: white;

}
#contact2{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
}


#mid
{
	height: 68vh;
	width: 99vw;
	font-family: Nunito;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#midleft
{
	height: 68vh;
	width: 2vw;
	border-radius: 50%;
	
}

#mid2
{
	height: 68vh;
	width: 42.5vw;
	font-family: Nunito;
	
}

#mid3
{
	height: 68vh;
	width: 42.5vw;
	font-family: Nunito;
}

.col
{
	height: 22vh;
	width: 42.5vw;
}


/* ce qu'il y a dans le mid */

#bottom
{
	height: 10vh;
	width: 99vw;
	background-image:linear-gradient(to right, rgb(17, 233, 233), rgb(10, 199, 255));
	font-family: Nunito;
	box-shadow: #9abfc233 5px 5px;
}

.midtitles
{
	font-family: Nunito;
	padding-left: 2.3vw;
	color: white;
	background-image:linear-gradient(to right, rgb(17, 233, 233), rgb(10, 199, 255));
	box-shadow: #9abfc233 5px 5px;
}

progress-bar[value] {
  -webkit-appearance: none;
}
::-webkit-progress-bar {

   
}

.flag2{
	height: 5vh;
	width: 42.5vw ;
	font-size: 1.2em;
}

.flag2 > p {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}

#flag
{
	height: 50px;
	width: 80px ;
	display: flex;
	object-fit: cover;
	flex-direction: row;
	justify-content: flex-start;
	overflow: hidden;
}

img {
	display: flex;
	width: 100%;
	height: 100%;
}

span > img {
	height: 100px;
	width: 100px;
}
span > P {
	display: flex;
	justify-content: center;
	width: 100%;
}

p > img
{
	max-width: 50%;
	max-height: 50%;
}

#interest
{
	height:	20vh ;
	width: 40vw;
	display: flex;
	justify-content: space-evenly;
}

.con{
	height: 2vh;
	width: 1vw;
		max-width: 50%;
	max-height: 50%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

ul, li{
	margin-left: 10px;
}


#powersbars{
	padding: 5px;
	margin:auto;

}

#file{
	display: flex;
	justify-content: center;
}


.space-even{
	justify-content: space-evenly;
}

.align{
	align-items: center;
}